/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */

/* header {
    background-color: #333;
    color: #fff;
    padding: 20px;
} */

/* nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ddd;
} */

/* main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1, h2 {
    font-weight: normal;
}

footer {
    background-color: #eee;
    padding: 20px;
    text-align: center;
} */

.social-icon {
    width: 30px; /* Adjust the size as needed */
    height: auto;
    margin: 0 5px;
}

.badge-container {
    position: absolute;
    top: 10px;
    right: 10px;
}


@media screen and (max-width: 600px) {
    nav li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
